.simpleForm {
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 85%;
    margin: 0 auto 1rem;
    border-radius: 100px;
    padding: 0 1rem 0 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0 0 1rem 0;
}

.simpleForm input {
    border: none;
    height: 100%;
    background: transparent;
    width: 80%;
}

.simpleForm input:focus-visible {
    outline: none;
}